@import "tailwindcss";

:root {
  --background: #f6f4f3;
  --foreground: #171717;
}

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);

  --breakpoint-2xs: 23.5rem;
  --breakpoint-xs: 30rem;
  --breakpoint-sm: 40rem;
  --breakpoint-md: 48rem;
  --breakpoint-lg: 64rem;
  --breakpoint-xl: 80rem;
  --breakpoint-2xl: 96rem;
  --breakpoint-3xl: 120rem;
  --breakpoint-4xl: 160rem;
  --breakpoint-5xl: 240rem;

  --mm-green: #3FA78E;
  --mm-grey: #d1c8c1;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #f6f4f3;
  }
}


@utility font-montserrat {
   @apply font-(family-name:--font-montserrat)
}

html {
  scroll-behavior: smooth;
}

body {
  background: var(--background);
  color: var(--foreground);
  font-family: Montserrat, sans-serif;
}

* {
  @apply font-montserrat
}


.sponsor-banner {
    @keyframes scroll {
    0% {
      transform: translateX(0);
    }
    100% {
      transform: translateX(-50%);
    }
  }
  
  .animate-scroll {
    animation: scroll linear infinite;
    width: fit-content;
  }
}